<div class="min-vh-100 p-5 mt-5">
    <div class="container mx-auto p-2 d-flex align-items-centre justify-content-around flex-wrap">
        <% Jobs.forEach((job)=> { %>
            <div class="col jobContainer">
                <div class="card bg-transparent border border-light jobCard">
                    <div class="card-body px-2">
                        <p class="jobStatus btn btn-outline-info ">Actively Hiring <i
                                class="fa-solid fa-chart-line"></i>
                        </p>
                        <h4 class="card-title cName">
                            <%= job.companyname %>
                        </h4>

                        <h5 class="card-title designation">
                            <%= job.jobdesignation %>
                        </h5>
                        <p class="card-title location"><i class="fa-solid fa-location-dot"></i>
                            <%= job.joblocation %>
                        </p>
                        <h6 class="card-title"><i class="fa-solid fa-indian-rupee-sign"></i>
                            <%= job.salary %>
                        </h6>
                        <h6 class="card-title text-success">Apply By :
                            <span class="text-white">
                                <%=job.applyby %>
                            </span>
                        </h6>
                        <p class=" mb-5">
                            <% job.skillsrequired.forEach((skill)=> { %>
                                <span class="btn btn-outline-warning m-1">
                                    <%= skill%>
                                </span>
                                <% }) %>
                        </p>
                        <div class="text-center viewMoreBtn">
                            <a href="/jobdetails/<%= job.id %>" class="btn btn-outline-primary mb-3 ">View
                                More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <%}) %>
    </div>
</div>